.c-card {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid grey;
    border-radius: 10px 10px 0px 0px;

}

.c-browser {
    height: 20px;
    background-color: gray;
    display: flex;
    align-items: center;
}

.c-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;

}

img {
    display: flex;
    width: 286px;
    height: auto;
}

//button
.but {
    display: flex;
}

//react icon
.ri {
    color: rgb(10, 181, 248);
    font-size: 50px;

}

.cr {
    padding-bottom: 10px;
    width: 33%;
}





@media screen and (max-width: 768px) {
    .cr {
        width: 100%;
        padding-bottom: 10px;
    }
}