.cr {
    position: relative;
    padding-bottom: 150px;
}

.brdr {
    color: black;
}

//github icon
.gi {
    color: black;
    // color: rgb(10, 181, 248);
    font-size: 50px;

}

.underline {
    text-decoration: underline;
    text-underline-offset: 5px;
}

// .resize {}



@media screen and (max-width: 768px) {}