.pl {
    padding-top: 150px;
}

.pl-title {
    font-weight: 600;
    font-size: 50px;
    position: relative;
    text-align: center;


}

.pl-desc {
    text-align: center;
    padding-bottom: 10px;
}

.pl-table {
    text-align: center;

}

.pl-row {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;

}

.underline {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .pl-title {
        padding: auto;
    }
}