.icon {
    font-size: 50px;
    padding: 10px;
    color: white;
}

.ftr {

    position: relative;
    color: white;
    // z-index: 0;

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: row;
}