.tech-card {
    position: relative;
    padding-bottom: 150px;
}

.tech-card-title {
    color: black;
}

.t-icon {
    padding: 10px;


}

@media screen and (max-width: 768px) {
    .tech-card {
        padding-bottom: 50px;
    }
}