.t {
    padding-top: 50px;

}

.tech {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    //align-items: center;
    //margin-top: 2rem;
    //padding-top: 20px;
    //padding-bottom: 20px;
    position: relative;

}

.tech-title {
    font-weight: 600;
    font-size: 50px;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}

.tech-table {
    text-align: center;

}

.tech-row {
    justify-content: space-between;
    padding-bottom: 120px;

}